.masthead {
    height: 30vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .punteggio{
    bottom: 7px;
    left: 130px;
  }
